@import "./variables.styl"

.card
    display:flex
    width: 100%
    color: main-text-color
    width: 300px
    background: main-color
    padding: 1rem
    border-radius: 5px
    box-shadow: 4px 4px 4px #34352a, -6px -6px 6px #000104
    h3
        color: white
    p
        margin:0
        padding:0
        color:white
        font-size: font-size
    span
        font-size: 12px
    .cardBody
        padding-left: 1rem
        width: 50%
        display:flex
        flex-direction:column
        justify-content: space-between
    .cardImg
        width: 50%
    .cardTitle
        margin-bottom: 1rem
        //span::before
    .cardContent
        display:flex
        flex-direction: column
        gap: 0.5rem
        span
            padding-bottom:0.3rem
